/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap'); */
*, *::after, *::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {font-family: 'gilroyRegular', sans-serif;}
@font-face {
	src: url('../vendors/fonts/gilroyRegular.ttf');
	font-family: gilroyRegular;
}
@font-face {
	src: url('../vendors/fonts/gilroySemiBold.ttf');
	font-family: gilroySemiBold;
}
@font-face {
	src: url('../vendors/fonts/gilroyBold.ttf');
	font-family: gilroyBold;
}

a,
a:link,
a:hover,
a:active,
a:visited {text-decoration: none;}
p {
    line-height: 26px;
    font-size: 18px;
    color: #000;
}
img {
	max-width: 100%;
	width: auto;
}
ul, ol {list-style-type: none;}

/* section title start */
.section_title {
	margin-bottom: 45px;
	text-align: center;
}
.section_title h3 {
	font-family: gilroyBold;
	font-size: 38px;
	color: #2C5981;
}
@media screen and (max-width: 576px) {
	.section_title h3 {font-size: 27px;}
}
/* navber style strat */
.custom_nav.active {
	border-bottom: 1px solid rgba(0,0,0,.05);
	background: #fff;
}
@media only screen and (min-width: 992px) {
	nav.fixed-top {transition: all .15s;}
	.menu_fotter, .menu-wrap {display: none;}
	.global-menu ul {
		justify-content: flex-end;
		position: absolute;
		display: flex;
		right: 20px;
		margin: 0;
		top: 12px;
		z-index: 9999999;
		align-items: center;
	}
	.global-menu ul .authentication {
		border: 1px solid #529BDE;
		background: #2C5981;
		transition: all .2s;
		border-radius: 30px;
		font-size: 15px;
		outline: none;
		color: #fff;
		height: 45px;
		padding: 0 15px;
		margin-left: 15px;
		line-height: 42px;
		text-align: center;
	}
	.global-menu ul .authentication a {
		color: #fff !important;
		margin: 0;
		padding: 0 5px;
	}
	.global-menu ul .authentication a::before,
	.global-menu ul .authentication a::after {display: none;}
	.global-menu ul.white a::after {background: #000;}
	.global-menu ul.white a {color: #000;}
	.global-menu ul a {
		font-weight: 400;
		padding: 0 10px;
		font-size: 15px;
		color: #000;
		position: relative;
	}
	.global-menu ul a::after {
		display: inline-block;
		width: 0;
		height: 1px;
		background: #404044;
		position: absolute;
		content: "";
		bottom: -4px;
		left: 10px;
		transition: 0.2s;
	}
	.global-menu ul a:hover::after,
	.global-menu ul a.active::after {width: calc(100% - 20px);}
}
 @media only screen and (min-width: 1125px) {
	.global-menu ul a {padding: 0 20px;}
	.global-menu ul a::after {left: 20px;}
	.global-menu ul a:hover::after,
	.global-menu ul a.active::after {width: calc(100% - 40px);}
}
 @media only screen and (max-width: 991px) {
	/* nav style start */
	.nav_menu .menu-wrap {
		position: relative;
		z-index: 99999999999 !important;
	}
	.nav_menu .menu-button {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		transform: scale(0.8);
		position: fixed;
	}
	.nav_menu .global-menu {
		-webkit-transition: all 500ms cubic-bezier(1, 0.005, 0, 1);
		-moz-transition: all 500ms cubic-bezier(1, 0.005, 0, 1);
		-o-transition: all 500ms cubic-bezier(1, 0.005, 0, 1);
		transition: all 500ms cubic-bezier(1, 0.005, 0, 1);
		-webkit-transition-timing-function: cubic-bezier(1, 0.005, 0, 1);
		-moz-transition-timing-function: cubic-bezier(1, 0.005, 0, 1);
		-o-transition-timing-function: cubic-bezier(1, 0.005, 0, 1);
		transition-timing-function: cubic-bezier(1, 0.005, 0, 1);
		transform: translateX(100%);
		align-items: center;
		position: fixed;
		display: flex;
		width: 100%;
		top: 0;
		left: 0;
		height: 100vh;
		flex-wrap: wrap;
		overflow: hidden;
		flex-wrap: wrap;
		padding: 75px 0 10px;
		text-align: center;
		background: #1e1f24;
		justify-content: center;
		z-index: 9999999 !important;
		align-content: space-between;
	}
	.global-menu.active {transform: translateX(0%);}
	.nav_menu .global-menu ul {
		width: 100%;
		margin: 0;
	}
	.global-menu ul a {
		display: inline-block;
		color: #fff;
		font-size: 32px;
		line-height: 42px;
		font-weight: 600;
		margin: 2px 35px;
		position: relative;
	}
	.global-menu ul .authentication a {padding: 8px 16px;}
	.global-menu ul .authentication span {
		display: block;
		height: 0;
	}
	.global-menu ul a::after {
		display: inline-block;
		width: 0;
		height: 2px;
		background: #fff;
		position: absolute;
		content: '';
		bottom: 2px;
		left: 0;
		transition: 0.2s;
	}
	.global-menu ul a:hover::after,
	.global-menu ul a.active::after {width: 100%;}
	.global-menu .menu_fotter {
		padding: 0 15px;
		width: 100%;
		color: #fff;
		text-align: left;
	}
	.global-menu .menu_fotter a {
		line-height: 28px;
		font-size: 14px;
		margin: 0;
		color: #fff;
	}
	.global-menu .menu_fotter a:hover {text-decoration: underline;}
	.navigation {padding: 21px 50px;}
	@keyframes bounce {
		0% {
			transform: translateX(-100%);
			opacity: 0;
		}
		5% {
			transform: translateX(-100%);
			opacity: 0;
		}
		15% {transform: translateX(0);}
		30% {transform: translateX(-50%);}
		40% {transform: translateX(0%);}
		50% {transform: translateX(-30%);}
		100% {
			 transform: translateX(0);
			 opacity: 1;
		}
	}
	#nav-icon3 span:nth-child(1) {top: 0;}
	#nav-icon3 span:nth-child(2) {top: 11px;}
	.is-opened-navi #nav-icon3 span:nth-child(1) {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
		top: 11px;
	}
	.is-opened-navi #nav-icon3 span:nth-child(2) {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	.nav_menu .bounce {animation: bounce 0.4s ease-in-out;}
	.nav_menu .menu {
		position: fixed;
		right: 2vw;
		top: 13px;
		width: 55px;
		height: 55px;
		cursor: pointer;
		z-index: 1100;
		pointer-events: auto;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.nav_menu .hamburger-menu {
		position: relative;
		width: 35px;
		display: flex;
		height: 30px;
		justify-content: center;
		user-select: none;
	}
	.hamburger-menu.white.scroll_change .hamburger-menu-text {color: #000 !important;}
	.hamburger-menu.white .hamburger-menu-text {color: #2C5981 !important;}
	.hamburger-menu.white .line {background: #2C5981 !important;}
	.hamburger-menu.white.scroll_change .line {background: #000 !important;}
	.hamburger-menu.white.scroll_change.hamburger-menu-closed .hamburger-menu-text {color: #fff !important;}
	.hamburger-menu.white.scroll_change.hamburger-menu-closed .line {background: #fff !important;}
	.hamburger-menu .hamburger-menu-text {color: #000 !important;}
	.hamburger-menu .line {background: #000 !important;}
	.hamburger-menu.hamburger-menu-closed .line {background: #fff !important;}
	.hamburger-menu.hamburger-menu-closed .hamburger-menu-text {color: #fff !important;}
	.hamburger-menu:hover {cursor: pointer;}
	.nav_menu .line {
		position: absolute;
		width: 100%;
		height: 3px;
		background: #fff;
		opacity: 1;
		left: 0;
	}
	.nav_menu .line-0 {
		top: 0;
		transition-duration: 0.6s;
		transition-delay: 0.4s;
	}
	.nav_menu .line-1 {
		top: 10px;
		transition-duration: 0.6s;
		transition-delay: 0.4s;
	}
	.nav_menu .line-0-bounce {
		transition-duration: 0.5s;
		animation: swing-right 0.9s ease-out 0.3s 1;
	}
	@keyframes swing-right {
		0% {transform: rotate(45deg);}
		60% {transform: rotate(0deg);}
		65% {transform: rotate(-10deg);}
		80% {transform: rotate(10deg);}
		100% {transform: rotate(0deg);}
	}
	.line-1-bounce {animation: swing-left 0.9s ease-out 0.3s 1;}
	@keyframes swing-left {
		0% {transform: rotate(-45deg);}
		60% {transform: rotate(0deg);}
		65% {transform: rotate(10deg);}
		80% {transform: rotate(-10deg);}
		100% {transform: rotate(0deg);}
	}
	.hamburger-menu-closed .line-0 {
		transform: rotate(45deg);
		top: 14px;
	}
	.hamburger-menu-closed .line-1 {
		transform: rotate(-45deg);
		top: 14px;
	}
	.hamburger-menu-text {
		position: absolute;
		top: 17px;
		right: 0;
		color: #fff;
		font-size: 13px;
		font-weight: bold;
		transition: color 0.6s, opacity 0.5s;
		transition-delay: 0.4s;
		width: 100%;
		text-align: center;
	}
	.hamburger-menu-text-hidden {
		opacity: 0;
		animation: hide-text 0.2s linear 0.5s;
	}
	@keyframes hide-text {
		0% {
			opacity: 1;
			transform: scaleX(1) translateX(0);
		}
		100% {
			opacity: 0;
			transform: scaleX(0) translateX(10px);
		}
	}
	.show-text {animation: text-focus-in 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both 0.22s;}
	@keyframes menu-bounce {
		0% {transform: translateX(0px);}
		30% {transform: translateX(-10px);}
		60% {transform: translateX(10px);}
		100% {transform: translateX(0);}
	}
	@keyframes text-focus-in {
		0% {transform: translateX(50px);}
		100% {transform: translateX(0);}
	}
	@keyframes fadein {
		0% {opacity: 0;}
		100% {opacity: 1;}
	}
}
@media only screen and (max-width: 991px) and (max-width: 767px) {
	.global-menu ul a {
		line-height: 38px;
		font-size: 24px;
		margin: 0 30px;
	}
	.navigation {padding: 21px 20px;}
	.hamburger-menu {right: 4px;}
}
.global-menu ul a {font-family: gilroySemiBold;}
.nav_menu .custom_nav {
	border-bottom: 1px solid rgba(0, 0, 0, .06);
	padding: 0 0 0 30px;
	z-index: 9;
}
.nav_menu .custom_nav .navbar-brand {
	display: inline-block;
	line-height: 80px;
	height: 80px;
	padding: 0;
}
.nav_menu .custom_nav .navbar-brand img {
	max-width: 245px;
	width: 100%;
	margin-top: -4px;
}
 @media screen and (max-width: 991px) {
	.nav_menu .custom_nav {padding: 0 0 0 5px;}
}
 @media screen and (max-width: 576px) {
	.custom_nav .navbar-brand img {max-width: 200px;}
}
/* navber nav end */



/* custom btn start */
.custom_btn:hover {
	border-color: #2C5981;
	background: #2C5981;
	color: #fff;
}
.custom_btn {
	border: 1px solid #2C5981;
	transition: all .2s;
	border-radius: 30px;
	background: #FFFFFF;
	font-size: 20px;
	color: #2C5981;
	outline: none;
	height: 56px;
	padding: 0 25px;
	min-width: 200px;
	margin-top: 25px;
	line-height: 54px;
	text-align: center;
}
@media screen and (max-width: 576px) {
	.custom_btn {
		line-height: 48px;
		min-width: 165px;
		height: 50px;
		font-size: 18px;
	}
}
/* custom btn end */



/* header section start */
.header_section {
	background-image: url(../images/header/bg_4.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
	align-items: center;
	min-height: 100vh;
	display: flex;
	position: relative;
	overflow: hidden;
	padding: 125px 0 75px;
}
.header_section:after {
	background-image: url(../images/header/bg_1.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    bottom: 0;
    left: -90px;
    width: 275px;
    height: 275px;
    position: absolute;
}
.header_section .header_article {
	align-items: center;
	display: flex;
	height: 100%;
	z-index: 9;
	margin: 15px 0;
	position: relative;
}
.header_section .header_article h6 {
	font-family: gilroySemiBold;
	font-size: 26px;
	color: #000;
}
.header_section .header_article h3 {
	color: #2C5981;
	font-size: 42px;
	margin: 0;
}
.header_section .header_article h2 {
	font-family: gilroyBold;
	color: #2C5981;
	font-size: 42px;
}
.header_section .header_article strong {font-family: gilroySemiBold;}
.header_section .header_img {
	position: relative;
	height: 100%;
	margin: 15px 0;
}
.header_section .header_img a {
	display: inline-block;
	width: 100%;
}
.header_section .header_img img {
	box-shadow: 0px 2px 12px rgb(59 77 84 / 10%);
	border-radius: 15px;
	position: relative;
	z-index: 2;
	width: 100%;
}
.header_section .header_img:before {
	background-image: url(../images/header/bg_2.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	content: '';
	top: -61px;
	left: -40px;
	width: 200px;
	height: 200px;
	position: absolute;
}
.header_section .header_img:after {
	background-image: url(../images/header/bg_3.svg);
	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	content: '';
	bottom: -110px;
	right: -140px;
	width: 275px;
	height: 275px;
	position: absolute;
}
.YouTubePopUp-Close {
    background: url('../vendors/youtube_popup/images/close.svg');
    background-position: center !important;
    background-color: #2C5981 !important;
    background-size: 50% 50% !important;
	background-repeat: no-repeat;
    z-index: 9999 !important;
    margin-right: -15px;
    top: 7% !important;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.YouTubePopUp-Close:hover {opacity: 1 !important;}
@media screen and (max-width: 768px) {
	.header_section .header_article h2,
	.header_section .header_article h3 {font-size: 36px;}
}
/* header section end */



/* secound header start */
.secound_header {
	background-image: url(../images/header/bg_4.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
	align-items: center;
	min-height: 60vh;
	display: flex;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 125px 0 75px;
	background-color: #E5E9F0;
}
.secound_header h2 {
	font-family: gilroyBold;
	color: #2C5981;
	margin: 0 auto;
	font-size: 42px;
}
.secound_header:before {
	background-image: url(../images/header/bg_1.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    bottom: 0;
    left: -90px;
    width: 275px;
    height: 275px;
    position: absolute;
}
.secound_header:after {
	background-image: url(../images/header/bg_3.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
	bottom: -75px;
    content: '';
    right: 45px;
    width: 275px;
    height: 275px;
    position: absolute;
}
/* secound header start */



/* step section start */
.step_section {
	background: #2C5981;
	padding: 65px 0;
	overflow: hidden;
	position: relative;
}
.step_section .section_title h3 {color: #fff;}
.step_section:before {
	background-image: url(../images/step/bg_1.svg);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	content: '';
	bottom: -55px;
	left: -135px;
	width: 365px;
	height: 345px;
	position: absolute;
}
.step_section:after {
	background-image: url(../images/step/bg_2.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    top: 10px;
    right: -135px;
    width: 365px;
    height: 345px;
    position: absolute;
}
.step_section .step_content {
	text-align: center;
	margin: 15px 0;
}
.step_section .step_content img {
	margin-bottom: 50px;
	max-width: 50px;
}
.step_section .step_content p {color: #eee;}
.step_section h6 {
	font-family: gilroySemiBold;
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-top: 45px;
}
.step_section .section_title {color: #fff;}
@media screen and (max-width: 768px) {
	.step_section:before,
	.step_section:after {
		height: 225px;
		width: 245px;
	}
}
/* step section end */



/* service section start */
.service_section {
	padding: 60px 0 0;
	background: #fff;
	overflow: hidden;
}
.service_section .service_article {position: relative;}
.service_section .article_area .service_article:after {
	background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
	width: 365px;
    height: 345px;
    position: absolute;
	top: calc(50% - 172px);
}
.service_section .article_area .service_article:first-child .container:after {display: none;}
.service_section .article_area .service_article:nth-child(1):after {
	background-image: url(../images/service/bg_1.svg);
    background-position: center right;
	right: -75px;
}
.service_section .article_area .service_article:nth-child(2):after {
	background-image: url(../images/service/bg_2.svg);
    background-position: left center;
    left: -75px;
}
.service_section .article_area .service_article:nth-child(3):after {
	background-image: url(../images/service/bg_3.svg);
    background-position: center right;
	right: -140px;
}
.service_section .service_article>.container {
	padding-bottom: 65px;
	position: relative;
	padding-top: 65px;
}
.service_section .service_article>.container:after {
	position: absolute;
	height: 1px;
	content: '';
	top: 0;
	left: 15px;
	background: #EAEAEA;
	display: inline-block;
	width: calc(100% - 30px);
}
.service_section .service_article article {width: 100%;}
.service_section .service_article .service_title {
	align-items: center;
	display: flex;
	height: 100%;
	padding: 20px 10%;
}
.service_section .service_article .service_title h5 {
	font-family: gilroySemiBold;
	font-size: 30px;
	color: #000;
	line-height: 32px;
}
.service_section .service_article .service_title p {
	font-family: gilroySemiBold;
	margin-top: 75px;
}
.service_section .service_article .service_title h5 span {color: #2C5981;}
.service_section .service_img {padding: 0 10%;}
.service_section .service_img img {
	max-width: 380px;
	width: 100%;
}

.service_section .service_point .container > .row [class*='col-'] {
	padding-right: 7px;
	padding-left: 7px;
}
.service_section .service_point .container > .row {
	margin-right: -8px;
	margin-left: -8px;
}
.service_section .service_point {
	background: linear-gradient(to top, #F7F7F7, #FEFEFE);
	padding: 65px 0;
}
.service_section .service_content {
	box-shadow: 0px 2px 12px rgb(59 77 84 / 10%);
	justify-content: flex-start;
	padding: 25px 30px;
	align-items: center;
	background: #fff;
	display: flex;
	margin: 8px 0;
	min-height: 120px;
	border-radius: 2px;
}
.service_section .service_content figure {
	max-width: 65px;
	margin: 0;
	width: 100%;
}
.service_section .service_content img {
	max-height: 35px;
	width: auto;
}
.service_section .service_content h5 {
	font-size: 18px;
	margin: 0;
	color: #000;
}
.service_section .service_point h4 {
	font-family: gilroySemiBold;
	text-align: center;
	font-size: 18px;
	margin: 45px 0;
}
@media screen and (min-width: 991px) {
	.service_section .article_area .service_article img {margin-left: -65px;}
}
@media screen and (max-width: 991px) {
	.service_section .article_area .service_article:after {
		top: calc(50% - 72px);
		height: 225px;
		width: 225px;
	}
}
@media screen and (max-width: 768px) {
	.service_section .service_article .service_title,
	.service_section .service_img {
		text-align: center;
		padding: 20px 0;
	}
	.service_section .article_area .service_article:after {
		top: calc(50% - 72px);
		height: 145px;
		width: 165px;
	}
	.service_section .service_point {padding: 25px 0 65px;}
	.service_section .service_article .service_title h5 {
		line-height: 28px;
		font-size: 25px;
	}
}
@media screen and (max-width: 768px) {
	.service_section .service_article .service_title h5 br {display: none;}
}
/* service section end */




/* work section start */
.work_section {
	background: linear-gradient(to top, #FFF, #FEFEFE);
	padding: 65px 0;
}
.work_section .work_prosess {margin-bottom: 15px;}
.work_section .prosess_article {
	align-items: flex-start;
    display: flex;
    margin-top: 15px;
    text-align: center;
    position: relative;
    justify-content: center;
}
.work_section .prosess_article p {
	font-family: gilroyBold;
    margin: 0;
    color: #707070;
    font-size: 20px;
}
.work_section .prosess_article img {
	margin-top: 5px;
    width: 20px;
    right: -25px;
	position: absolute;
}
@media screen and (min-width: 992px) {
	.work_section .article_row {
		justify-content: center;
		display: flex;
	}
}
@media screen and (max-width: 991px) {
	.work_section .prosess_article img,
	.work_section .prosess_article br {display: none;}
	.work_section .prosess_article p {font-size: 18px;}
}
/* work section end */



/* customer section start */
.customer_section {
	background: linear-gradient(to top, #F7F7F7, #FEFEFE);
	position: relative;
	overflow: hidden;
	padding: 65px 0;
}
.customer_section .owl-carousel.owl-drag .owl-item {padding: 15px 0;}
.customer_section .owl-carousel {
	position: relative;
	margin-top: 60px;
}
.customer_section .owl-carousel .owl-nav {
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top: -40px;
	left: 0;
	width: 100%;
	display: flex;
}
.customer_section .owl-carousel .owl-nav button.owl-next {padding-right: 3px !important;}
.customer_section .owl-carousel .owl-nav button.owl-prev {padding-left: 3px !important;}
.customer_section .owl-carousel .owl-nav button {
	justify-content: center;
	transition: all 0.2s;
	align-items: center;
	margin: 7px;
	width: 32px;
	height: 30px;
	display: flex;
	background: #2C5981;
}
.customer_section .owl-carousel .owl-nav button:first-child {margin-left: 0;}
.customer_section .owl-carousel .owl-nav button:last-child {margin-right: 0;}
.customer_section .owl-carousel .owl-nav button.owl-prev:after,
.customer_section .owl-carousel .owl-nav button.owl-next:after {
	display: inline-block;
	content: '';
	width: 9px;
	height: 9px;
	transform: rotate(45deg);
}
.customer_section .owl-carousel .owl-nav button.owl-prev:after {
	border-top: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid #fff;
	border-left: 2px solid #fff;
}
.customer_section .owl-carousel .owl-nav button.owl-next:after {
	border-bottom: 2px solid transparent;
	border-left: 2px solid transparent;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}
.customer_section .owl-carousel .owl-nav button:focus {outline: none;}
.owl-carousel .owl-nav button:hover {background: #000;}
.customer_section .owl-carousel .owl-nav button span {display: none;}

.customer_section .customer_carousel:before {
	background-image: url(../images/customer/bg_1.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    top: -90px;
    left: -50px;
    width: 270px;
    height: 270px;
    position: absolute;
}
.customer_section:after {
	background-image: url(../images/customer/bg_2.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    top: 200px;
    right: -55px;
    width: 305px;
    height: 305px;
    position: absolute;
}
.customer_section:before {
	background-image: url(../images/customer/bg_3.svg);
	background-position: bottom left;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	content: '';
	bottom: 0;
	left: -85px;
	width: 305px;
	height: 305px;
	position: absolute;
}
.customer_section .customer_card {
	box-shadow: 0px 2px 15px rgb(59 77 84 / 15%);
	padding: 45px 35px 30px;
	background: #fff;
	text-align: center;
}
.customer_section .customer_card::before {
	background-image: url(../images/icon/quotation.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    content: '';
    top: 95px;
    left: 12px;
    width: 62px;
    height: 54px;
    position: absolute;
}
.customer_section .rating {
	justify-content: center;
	display: flex;
	margin-bottom: 15px;
}
.customer_section .rating img {width: 20px;}
.customer_section .customer_img {
	max-width: 85px;
	margin: 0 auto;
}
.customer_section .customer_card p {
	line-height: 24px;
	font-size: 16px;
}
.customer_section .customer_card h5 {
	font-family: gilroyBold;
	margin: 20px 0 5px;
	font-size: 15px;
	color: #000;
}
.customer_section .customer_card h6 {
	font-size: 13px;
	color: #000;
}
.customer_section .customer_feedback {
	position: relative;
	text-align: center;
	margin-top: 45px;
}
.customer_section .customer_feedback:after {
	background-image: url(../images/customer/bg_4.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	bottom: -120px;
	content: '';
	right: 0;
	width: 225px;
	height: 225px;
	position: absolute;
 }
.customer_section .customer_feedback h5 {
	font-size: 18px;
	color: #212121;
	margin: 25px 0;
}
@media screen and (max-width: 768px) {
	.customer_section .customer_feedback:after {display: none;}
	.customer_section .customer_carousel:before,
	.customer_section:before,
	.customer_section:after {
		height: 210px;
		width: 210px;
	}
}
/* customer section end */



/* package section start */
.package_section {
	background: linear-gradient(to top, #DEE5EB, #FEFEFE);
	padding: 65px 0 50px;
}
.package_section .package_box .package_list:nth-child(2n+1) {background: #FFFFFF;}
.package_section .package_list {
	justify-content: space-between;
	background: #FCFCFC;
	display: flex;
	padding: 15px 20px;
	align-items: center;
}
.package_section .package_list h2 {
	font-family: gilroyBold;
	color: #2C5981;
	margin: 10px;
	font-size: 34px;
	min-width: 130px;
}
.package_section .package_list h4 {
	font-family: gilroyBold;
	color: #2C5981;
	margin: 10px;
	font-size: 24px;
}
.package_section .package_list h2 small,
.package_section .package_list h4 small {
	font-size: 14px;
	display: block;
}
.package_section .package_list h3 {
	font-family: gilroyBold;
	color: #2C5981;
	margin: 10px;
	font-size: 28px;
}
.package_section .package_list h3 button {
	font-family: gilroySemiBold;
	border: 1px solid #2C5981;
    border-radius: 20px;
	outline: none;
	margin-left: 8px;
	color: #2C5981;
    font-size: 18px;
    padding: 6px 12px;
    background: #fff;
    display: inline-block;
    vertical-align: text-bottom;
}
.package_section .package_condition {margin-top: 35px;}
.package_section .package_condition a {color: #0F84EC;}
.package_section .package_condition li {font-size: 16px;}
.package_section .package_condition li,
.package_section .package_condition p {
	text-align: justify;
	margin-bottom: 20px;
	color: #000;
}
@media screen and (min-width: 768px) {
	.package_section .package_box .package_list:last-child {
		background: #2C5981;
		padding: 15px 20px;
	}
	.package_section .package_box .package_list:last-child small,
	.package_section .package_box .package_list:last-child h2,
	.package_section .package_box .package_list:last-child h3,
	.package_section .package_box .package_list:last-child h4,
	.package_section .package_box .package_list:last-child h2 {color: #fff;}
}
@media screen and (max-width: 768px) {
	.package_section .package_list {
		margin-bottom: 15px;
		flex-wrap: wrap;
		text-align: center;
		padding: 45px 25px;
		border-radius: 4px;
	}
	.package_section .package_list h4 {margin: 25px 0 15px;}
	.package_section .package_box .package_list h2,
	.package_section .package_box .package_list h3,
	.package_section .package_box .package_list h4,
	.package_section .package_box .package_list h2 {width: 100%;}
	.package_section .package_box .package_list span {display: block;}
	.package_section .package_box .package_list h3 button {
		padding: 6px 20px;
		font-size: 20px;
		margin-top: 15px;
	}
}
/* package section start */



/* blog section start */
.blog_section {
	background: #F4F5F9;
	padding: 65px 0;
}
.blog_section .blog_content {
	border: 1px solid #E5E9F0;
	background-color: #fff;
	border-radius: 4px;
	padding: 15px;
	margin-bottom: 30px;
}
.blog_section .blog_img {
	background: #2C5981;
	border-radius: 4px;
	height: 175px;
	overflow: hidden;
}
.blog_section .blog_img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.blog_section .blog_article {padding: 15px 0 0;}
.blog_section .blog_article h6 {
	font-size: 16px;
	color: #2C5981;
}
.blog_section .blog_article h3 {
	font-family: gilroyBold;
	font-size: 26px;
	color: #2C5981;
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.blog_section .blog_article p {
	line-height: 22px;
    font-size: 16px;
    color: #2C5981;
}
.blog_section .load_more:hover {background: #1f3f5b;}
.blog_section .load_more {
	display: inline-block;
    transition: all .2s;
    text-align: center;
    padding: 0 20px;
    margin: 45px auto 0;
    font-size: 22px;
    color: #fff;
	width: 100%;
    outline: none;
    height: 56px;
    line-height: 56px;
    border-radius: 2px;
    background: #2C5981;
    font-family: gilroyBold;
}
/* blog section end */



/* help section start */
.help_section {
	background: #F4F5F9;
	padding: 80px 0;
}
.help_section .help_content {
	border: 1px solid #E5E9F0;
	background-color: #fff;
    border-radius: 4px;
	min-height: 150px;
    margin: 8px 0;
    position: relative;
    padding: 25px;
}
.help_section .help_content img {margin-bottom: 25px;}
.help_section .help_content h3 {
	font-family: gilroyBold;
    font-size: 26px;
    color: #2C5981;
    width: 100%;
    overflow: hidden;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.help_section .help_content a {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
}
.help_section .help_content a:hover {text-decoration: none;}
.help_section .help_article h3 {
	font-family: gilroyBold;
	font-size: 26px;
	color: #2C5981;
	margin-top: 45px;
	position: relative;
	margin-bottom: 15px;
}
.help_section .help_article h3::after {
	display: inline-block;
	content: '';
	width: 100%;
	bottom: 6px;
	left: 0;
	height: 2px;
	position: absolute;
	background: #2C5981;
}
.help_section .help_article h3 span {
	display: inline-block;
	padding-right: 5px;
	z-index: 9;
	position: relative;
	background: #F4F5F9;
}
.help_section .accordion_content h6:first-child {border-top: 1px solid #ddd;}
.help_section .accordion_content h6 {
	border-bottom: 1px solid #ddd;
	font-family: gilroySemiBold;
	padding: 15px 25px 15px 0;
	display: inline-block;
	width: 100%;
	margin: 0;
	color: #2C5981;
	line-height: 20px;
	cursor: pointer;
	position: relative;
}
.help_section .accordion_content h6::after {
	display: inline-block;
	background: #282828;
	position: absolute;
	width: 14px;
	content: '';
	right: 20px;
	height: 2px;
	top: 24px;
	z-index: 999;
}
.help_section .accordion_content h6::before {
	display: inline-block;
	background: #282828;
	position: absolute;
	content: '';
	top: 18px;
	width: 2px;
	right: 26px;
	height: 14px;
}
.help_section .accordion_content .card-body {
	padding-left: 0;
	padding-right: 0;
}
.help_section .accordion_content h6:hover::after, 
.help_section .accordion_content h6:hover.cola, 
.help_section .accordion_content h6:hover::before {background: #2C5981;}
.help_section .accordion_content .collapse {position: relative;}
.help_section .accordion_content .collapse.show {border-bottom: 1px solid #ebebeb;}
.help_section .accordion_content .collapse.show::after {
	display: inline-block;
    position: absolute;
    content: '';
    width: 2px;
    height: 14px;
    top: -43px;
    right: 26px;
    background: #F4F5F9;
}
.help_section .accordion_content p {
	text-align: justify;
    line-height: 24px;
    color: #494949;
    font-size: 16px;
    margin: 10px 0;
}
/* help section end */



/* contact section end */
.contact_section {
	background: linear-gradient(to top, #FFF, #F7F7F7);
	padding: 65px 0;
}
.contact_section .contact_img {margin-bottom: 25px;}
.contact_section .section_title {text-align: left;}
.contact_section input.form-control {
	height: 50px;
}
.contact_section textarea.form-control {padding: 12px;}
.contact_section .form-control {
	border-radius: 0;
	box-shadow: none;
	outline: none;
}
/* contact section end */



/* footer section start */
.footer_section {
	padding: 75px 0 85px;
	background: #000000;
}
.footer_section .footer_logo {
	display: inline-block;
	margin: 15px 0 25px;
}
.footer_section .footer_logo img {
	max-width: 45px;
}
.footer_section .footer_link {margin-top: 15px;}
.footer_section .footer_link h5 {
	font-family: gilroySemiBold;
	font-size: 18px;
	color: #fff;
	margin-bottom: 15px;
}
.footer_section .footer_link li {margin-bottom: 15px;}
.footer_section .footer_link a:hover {color: #fff;}
.footer_section .footer_link a {
	transition: all .2s;
	color: #ccc;
	font-size: 18px;
}
@media screen and (min-width: 992px) {
	.footer_section .footer_link {text-align: right;}
}
@media screen and (max-width: 576px) {
	.footer_section {padding: 75px 0;}
}
/* footer section end */
